* {
	margin:0;
	padding:0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.img-responsive {
    max-width: 100%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#topline {
    background-color: #0091ea;
    position: relative;
    height: 10px;
    width: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

#section-main {
    height: 540px;
    background-image: url(imgs/maintexture-wide.png);
    background-repeat: no-repeat;
    background-size: cover; 
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	align-items: center;
   	justify-content: center;	
   	text-align: center;	
}

#section-main .container {
	padding:130px 20px;
   	display: block

}

@-webkit-keyframes fadeUp {
	0% { opacity:0; -webkit-transform:translateY(50px); }
  100% { opacity:1;  -webkit-transform:translateY(0px); }
}
@-moz-keyframes fadeUp {
	0% { opacity:0; -moz-transform:translateY(50px); }
  100% { opacity:1;  -moz-transform:translateY(0px); }
}
@keyframes fadeUp {
	0% { opacity:0; transform:translateY(50px); }
  100% { opacity:1;  transform:translateY(0px); }
}

#section-main h1 {
    font-weight: 100;
    font-size: 37px;
    color: #0091ea;
    display: block;
    -webkit-animation:fadeUp 1s 0.2s ease backwards;
    -moz-animation:fadeUp 1s 0.2s ease backwards;
    animation:fadeUp 1s 0.2s ease backwards;
    will-change:transform opacity;
}

#section-main h3 {
    font-weight: 100;
    font-size: 25px;
    color: #808080;
    display: block;
    padding:10px;
    -webkit-animation:fadeUp 1s 0.3s ease backwards;
    -moz-animation:fadeUp 1s 0.3s ease backwards;
    animation:fadeUp 1s 0.3s ease backwards;
    will-change:transform opacity;
}

#section-main hr {
	width: 50px;
	margin:0 auto;
	display: block;
	margin-bottom: 10px;
    -webkit-animation:fadeUp 1s 0.4s ease backwards;
    -moz-animation:fadeUp 1s 0.4s ease backwards;
    animation:fadeUp 1s 0.4s ease backwards;
    will-change:transform opacity;
}

#section-main p {
	font-weight: 300;
    font-size: 18px;
    color: #888;
	display: block;
    -webkit-animation:fadeUp 1s 0.5s ease backwards;
    -moz-animation:fadeUp 1s 0.5s ease backwards;
    animation:fadeUp 1s 0.5s ease backwards;
    will-change:transform opacity;
}

#section-main .contato {
	display: block;
    margin: 80px auto 0 auto;
    -webkit-animation:fadeUp 1s 0.7s ease backwards;
    -moz-animation:fadeUp 1s 0.7s ease backwards;
    animation:fadeUp 1s 0.7s ease backwards;
    will-change:transform opacity;
    width: 100px;
    height:40px;
}

#section-main .contato > .mail {
	float:left;
}

#section-main .contato > .linkedin {
    float:right;
}

#section-main .contato a,
#section-main .contato img {
    text-decoration: none;
    border:none!important;
    outline:none!important;
}

.container {
	display: block;
	margin:0 auto;
    width: 1280px;
}

.section {
	padding:100px 0;
	border-top:1px solid rgba(0,0,0,0.1);
}

.section:nth-child(even) {
	background: #f9f9f9	
}
.section:nth-child(odd) {
	background: #f0f0f0	
}

.left-container, .right-container {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.right-container hr {
	width: 50px;
	margin:20px 0;
    text-align: left;
    margin-left:20px;
}

.client-name {
    margin-left:20px;
    font-weight: 100;
    font-size: 37px;
    color: #000;
    opacity: 0.7;
}

.client-info {
    margin-left:20px;
    font-weight: 100;
    font-size: 20px;
    color: #000;
    opacity: 0.7;
}


.client-desc {
    margin-left:20px;
}

.client-link {
    margin-left:20px;
	padding:0px 0px 0px 25px;
    background-image: url(imgs/link.png);
    background-repeat: no-repeat;
}

.client-link a {
	color: #000;
	text-decoration: none;
}
.client-link a:hover {
	color: #000;
	text-decoration: underline;
}

.footer {
	background:#222;
	color:#fff;
	text-align: center;
	padding:50px;
}

@media all and (min-width: 1280px)  {


}

@media all and (max-width: 1280px) and (min-width: 1024px) {
	.container {
		width: 1000px;
	}

    .right-container {
        margin: 65px 0 65px 40px;
    }

}

@media all and (max-width: 1024px) {
	.container {
		width: 100%;
		flex-direction: column;
		align-self: center;
	}

	.section {
		padding:20px 0;
	}

	.left-container,
	.right-container {
		width: 100%;
		padding:0 20px;
		box-sizing: border-box;
        display: block;
	}

    .right-container {
        display: block;
        margin-top:15px;
    }


    .right-container hr,
    .client-name,
    .client-info,
    .client-desc,
    .client-link {
        margin-left:0px;
    }




}
